<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data">

	<select id="dataList" resultType="dataVo">
		select * from data
		<if test="start != null and start != ''">
			where to_date(ddate, 'YY/MM/DD') between #{start} and 
			(select last_day(#{start}) from dual)
		</if>
		order by ddate
	</select>
	
	<!-- 전체 플레이 수 -->
	<select id="getTotalPlay" resultType="java.lang.Integer">
		select sum(play) from data
	</select>
	
	<!-- 전체 방문자수 -->
	<select id="getTotalVisit" resultType="java.lang.Integer">
		select sum(visit) from data
	</select>
	
</mapper>
